SourcecodeReviewone/Connected Services/ServiceReference1/SourceCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SourceCodeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61300/SourceCodeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61300/SourceCodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61300/SourceCodeService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISourceCodeService_SourceCodeSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeSelect" />
  </wsdl:message>
  <wsdl:message name="ISourceCodeService_SourceCodeSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeSelectResponse" />
  </wsdl:message>
  <wsdl:message name="ISourceCodeService_SourceCodeConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeConfirm" />
  </wsdl:message>
  <wsdl:message name="ISourceCodeService_SourceCodeConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="ISourceCodeService_SourceCodeDocUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeDocUpload" />
  </wsdl:message>
  <wsdl:message name="ISourceCodeService_SourceCodeDocUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:SourceCodeDocUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="ISourceCodeService">
    <wsdl:operation name="SourceCodeSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeSelect" message="tns:ISourceCodeService_SourceCodeSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeSelectResponse" message="tns:ISourceCodeService_SourceCodeSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SourceCodeConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeConfirm" message="tns:ISourceCodeService_SourceCodeConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeConfirmResponse" message="tns:ISourceCodeService_SourceCodeConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SourceCodeDocUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeDocUpload" message="tns:ISourceCodeService_SourceCodeDocUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISourceCodeService/SourceCodeDocUploadResponse" message="tns:ISourceCodeService_SourceCodeDocUpload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISourceCodeService" type="tns:ISourceCodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SourceCodeSelect">
      <soap:operation soapAction="http://tempuri.org/ISourceCodeService/SourceCodeSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SourceCodeConfirm">
      <soap:operation soapAction="http://tempuri.org/ISourceCodeService/SourceCodeConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SourceCodeDocUpload">
      <soap:operation soapAction="http://tempuri.org/ISourceCodeService/SourceCodeDocUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SourceCodeService">
    <wsdl:port name="BasicHttpBinding_ISourceCodeService" binding="tns:BasicHttpBinding_ISourceCodeService">
      <soap:address location="http://localhost:61300/SourceCodeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>